<!DOCTYPE html>{% load static %}{% load compress %}
<html lang="en">
<head>
	<title>{% block title %}Grace{% endblock %}</title>
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	{% endcompress %}

	{% block headercss %}{% endblock %}
	{% block headerjs %}{% endblock %}
</head>
<body>
	<main>
		<div class="ui main container">
			{% block content %}{% endblock %}
		</div>

		<footer>
			{% block footer %}{% endblock footer %}
		</footer>
	</main>

	{% compress js %}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
	{% endcompress %}

	{% block footerjs %}{% endblock %}
</body>
</html>